{% macro incursionTable(incursions) %}
    {% for x in incursions %}
    <div class="row my-2">
        <div class="col-lg-6">
            <div class="card h-100 w-100">
                <div class="card-body align-items-stretch">
                    <div class="card-text">
                        <ul class="list-group">
                            <!-- Constellation Name and Region Name -->
                            {% if x.staging_solar_system_id.security_status > 0.5 %}
                            <div class="text-center alert alert-success">
                            {% elif x.staging_solar_system_id.security_status > 0 and x.staging_solar_system_id.security_status <= 0.4 %}
                            <div class="text-center alert alert-warning">
                            {% elif x.staging_solar_system_id.security_status <= 0 %}
                            <div class="text-center alert alert-danger">
                            {% endif %}
                                <a href="">
                                    <h2>{{ x.constellation_id.name }}</h3>
                                </a>
                                <a href="">
                                    <h5>{{ x.constellation_id.region_id }}</h5>
                                </a>
                            </div>

                            <!-- Mobilization status -->
                            <div title="Is the incursion just starting, in progress, or coming to an end?">
                                {% if x.state == 'MOBILIZING' %}
                                <div class="text-center alert alert-warning fade show" role='alert'>
                                {% elif x.state == 'ESTABLISHED' %}
                                <div class="text-center alert alert-danger fade show" role='alert'>
                                {% elif x.state == 'WITHDRAWING' %}
                                <div class="text-center alert alert-success fade show" role='alert'>
                                {% endif %}
                                    {{ x.state }}
                                </div>
                            </div>

                            <!-- Influence percentage -->
                            <div class="text-center" title="Lower influence means lower effect of penalties on infested systems">
                                <p>Influence @ {{ x.influence.readable }}</p>
                                <div class="progress">
                                    <div 
                                        class="progress-bar text-center"
                                        role="progressbar"
                                        style="width: {{ x.influence.readable }}"
                                        aria-valuenow="{{ x.influence.raw }}"
                                        aria-valuemin="0"
                                        aria-valuemax="100"
                                    >
                                    </div>

                                </div>
                            </div>

                            <!-- Staging System and its Sec status -->
                            <div class="mt-3 alert" title="The system the incursion is staging out of">
                                <p class="float-left"><b>Staging System</b></p>
                                <p class="float-right">{{ x.staging_solar_system_id.name }} ({{ x.staging_solar_system_id.security_status }})</p>
                            </div>

                            <!-- Status of the Boss Site -->
                            <div class="mt-3 alert" title="Is the boss site up?">
                                <p class="float-left"><b>Boss site up?</b></p>
                                <p class="float-right">{{ x.has_boss }}</p>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card h-100 w-100">
                <div class="card-body">
                    <table class="table table-striped">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Security Status</th>
                                <th scope="col">Incursion Site Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for y in x.infested_solar_systems %} 
                                <tr>
                                    <th scope="row">{{ loop.index }}</th>
                                    <td>{{ y.name }}</td>
                                    {% if y.security_status > 0.5 %}
                                    <td class='text-success'><b>{{ y.security_status }}</b></td>
                                    {% elif y.security_status < 0.5 and y.security_status > 0 %}
                                    <td class='text-warning'><b>{{ y.security_status }}</b></td>
                                    {% elif y.security_status <= 0 %}
                                    <td class='text-danger'><b>{{ y.security_status }}</b></td>
                                    {% endif %}
                                    <td>{{ y.type }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endmacro %}
